<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Home.html</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>Time_Update</filter-name>
        <filter-class>Time_Update</filter-class>
    </filter>
    <filter>
        <filter-name>Time_Update_A_D</filter-name>
        <filter-class>Time_Update</filter-class>
    </filter>
    <filter>
        <filter-name>SessionCheck</filter-name>
        <filter-class>SessionCheck</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionCheck</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Time_Update_A_D</filter-name>
        <servlet-name>Book</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Time_Update_A_D</filter-name>
        <servlet-name>Alloc</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Time_Update_A_D</filter-name>
        <servlet-name>Dealloc</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Time_Update_A_D</filter-name>
        <servlet-name>Cancel</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Book</servlet-name>
        <servlet-class>Book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cancel</servlet-name>
        <servlet-class>Cancel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addadmin</servlet-name>
        <servlet-class>Addadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginA</servlet-name>
        <servlet-class>LoginA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deletef</servlet-name>
        <servlet-class>Deletef</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dealloc</servlet-name>
        <servlet-class>Dealloc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alloc</servlet-name>
        <servlet-class>Alloc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetA</servlet-name>
        <servlet-class>ResetA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Book</servlet-name>
        <url-pattern>/Book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cancel</servlet-name>
        <url-pattern>/Cancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addadmin</servlet-name>
        <url-pattern>/Addadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginA</servlet-name>
        <url-pattern>/LoginA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deletef</servlet-name>
        <url-pattern>/Deletef</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dealloc</servlet-name>
        <url-pattern>/Dealloc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alloc</servlet-name>
        <url-pattern>/Alloc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetA</servlet-name>
        <url-pattern>/ResetA</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            90
        </session-timeout>
    </session-config>
</web-app>
